<div class="panel panel-primary">
  <div class="panel-heading">NEGOTIATION AREA</div>

  <div class="panel-body">

    <h2><%= @product_negotiation.product.title %></h1>
    <%= image_tag @product_negotiation.product.image %>
    <h4>Starting price: € <%= @product_negotiation.product.start_price %>,00</h2>
    <p>Negotiation state: <%= @product_negotiation.active == true ? "Active" : "Inactive" %></p>

    <h2>Offers and Counter offers</h2>
    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th></th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @current_negotiation_bids.each do |bid| %>
          <tr>
            <td><%= bid.created_at %></td>
            <td><%= bid.counter_offer == true ? "Buyer counter offer sent" : "Seller offer sent" %></td>
            <td>€ <%= bid.price %>,00</td>
            <td> <%= link_to "Accept", :class => "btn btn-danger btn-md" %> </td>
            <td> <%= bid.counter_offer == true ? (link_to "Counter", :class => "btn btn-danger btn-md") : "Counter offer placed" %> </td>
            <td> <%= link_to "Decline", :class => "btn btn-danger btn-md" %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
