<div class="panel panel-primary">
  <div class="panel-heading">NEGOTIATION AREA</div>

  <div class="panel-body">

    <h2><%= @product_negotiation.product.title %></h1>
    <%= image_tag @product_negotiation.product.image %>
    <h4>Starting price: <%= @product_negotiation.product.start_price %></h2>
    <p>Negotiation Active: <%= @product_negotiation.active %></p>

    <h2>Offers and Counter offers</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Offer</th>
          <th>Counter offer</th>
        </tr>
      </thead>
      <tbody>
        <% @current_negotiation_bids.each do |bid| %>
          <tr>
            <td><%= bid.created_at %></td>
            <td><%= bid.price %></td>
            <td><%= bid.counter_offer %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
