<% time_remaining = (@end_time - Time.now).to_i %>

<div class="row bottom-spacer">
  <div class="col-xs-8">
    <div class="product-show-top">
      <h2 class="bottom-spacer">NEGOTIATIONS with <%= @seller.first_name %> and <%= @buyer.first_name %></h2>
      <h4><%= @product_negotiation.product.title %></h4>
      <h5><%= @product_negotiation.product.product_type %></h5>
    </div>
    <div class="product-show-top">
      <h6>MAAT: <%= @product_negotiation.product.size %></h6>
      <h6>OMSCHRIJVING:</h6>
      <p><%= @product_negotiation.product.description %></p>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4><del>€<%= @product_negotiation.product.original_price %></del></h4>
      </div>
      <div class="col-xs-2">
        <h4>€<%= @product_negotiation.product.start_price %></h4>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="product-image">
      <%= image_tag @product_negotiation.product.image %>
    </div>
  </div>
</div>
<% time_remaining = (@end_time - Time.now).to_i %>

<% if !!!@product_negotiation.active || time_remaining <= 0 %>
 <h3>This negotiation is closed</h3>
<% else %>
  <div class="row current-bid bottom-spacer">
    <% if @current_negotiation_bids.length != 0 %>
      <div class="col-xs-3">
        <div>
          <h3>Last Offer: €<%= @current_negotiation_bids.last.price %></h3>
          <h5>Time remaining: <%= time_remaining/3600 %>hr : <%= time_remaining / 60 % 60 %>min : <%= time_remaining % 60 %>sec</h5>
          </div>
      </div>

      <div class="col-xs-1">
        <% if current_user == @product_negotiation.product.user %>
          <% if @current_negotiation_bids.last.accepted == true %>
            <%= link_to "Finalize", product_path(@product_negotiation.product.id, sold: true), class: "btn btn-danger btn-md", method: :patch %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-2">
        <%= link_to "Cancel Negotiation", productnegotiation_path(@product_negotiation.id), class: "btn btn-danger btn-md", method: :patch %>
      </div>
      <% if current_user.id != @current_negotiation_bids.last.user_id %>
        <div class="col-xs-1">
            <%= link_to "Accept", productnegotiation_singlebid_path(@current_negotiation_bids.last.id, accepted: true), class: "btn btn-danger btn-md", method: :patch %>
        </div>
        <%= form_tag productnegotiation_singlebids_path(@product_negotiation.id) do %>
          <div class="col-xs-2">
            <%= text_field_tag :price %>
          </div>
          <div class="col-xs-2">
            <%= submit_tag "Counter Offer", class: "btn btn-danger btn-md" %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h4>There are no bids yet</h4>
      <%= form_tag productnegotiation_singlebids_path(@product_negotiation.id) do %>
      <%= text_field_tag :price %>
      <%= submit_tag "Make Offer", class: "btn btn-danger btn-md" %>
      <% end %>
    <% end %>
  </div>
  <% @current_negotiation_bids.each do |bid| %>
    <div class="row">
      <% if bid.user_id == current_user.id %>
        <div class="col-xs-1" style="text-align: center;">
          <img src="https://thenextcloset.com/assets/icons/default_user/thumb_default_profile-54c8835634e5e5f1a5f71d7c8c18a9fb.png">
          <% if current_user.id == @seller.id %><%= @seller.first_name %><% else %><%= @buyer.first_name %><% end %>
        </div>
        <div class="col-xs-8">
          <div class="callouts">
            <div class="callouts--left">
              <div class="row">
                <div class="col-xs-2">&nbsp;</div>
                <div class="col-xs-4">
                  <h3>€ <%= bid.price %></h3>
                </div>
                <div class="col-xs-3">&nbsp;</div>
                <div class="col-xs-3">
                  <sup><%= bid.created_at %></sup>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3">&nbsp;</div>
      <% else %>
        <div class="col-xs-3">&nbsp;</div>
        <div class="col-xs-8">
          <div class="callouts">
            <div class="callouts--right">
              <div class="row">
                <div class="col-xs-3">
                  <sup><%= bid.created_at %></sup>
                </div>
                <div class="col-xs-6">&nbsp;</div>
                <div class="col-xs-3">
                  <h3>€ <%= bid.price %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1" style="text-align: center;">
          <img src="https://thenextcloset.com/assets/icons/default_user/thumb_default_profile-54c8835634e5e5f1a5f71d7c8c18a9fb.png">
          <% if current_user.id == @seller.id %><%= @buyer.first_name %><% else %><%= @seller.first_name %><% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
