

<div class="row">
  <div class="col-xs-12" "products-container">
    <h1> Welcome: <%= current_user.first_name %></h1>
    <hr>
    <h2> These are your products for sale: </h2>
  </div>
  <div class="col-xs-12 products-container">
    <% current_user.products.each do |product| %>
      <% product.product_negotiations.each do |pn| %>
        <div class="product-wrapper">
          <div class="product-image">
            <%= image_tag pn.product.image %>
          </div>
          <div class="product-description-wrapper">
            <h3><%= pn.product.title %></h3>
            <h4> Price: <%= pn.product.start_price %> </h4>
            <% if pn.product.accept_offers %>
              <%= link_to user_product_toggle_accept_offer_path(current_user.id, pn.product.id), :class => "btn btn-success btn-md", "data-toggle" => "modal", method: :put do %>Available for offers<% end %>
            <% else %>
              <%= link_to user_product_toggle_accept_offer_path(current_user.id, pn.product.id), :class => "btn btn-danger btn-md", "data-toggle" => "modal", method: :put do %>Unavailable for offers<% end %>
            <%end%>
            <% if  pn.single_bids.first != nil %>
              <%= link_to "Current Offer of #{pn.user.first_name}", productnegotiation_path(pn.id), :class => "btn btn-success btn-md" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
