

<div class="row">
  <div class="col-xs-12" "products-container">
    <h1> Welcome: <%= current_user.first_name %></h1>
    <hr>
    <h2> These are your products for sale: </h2>
  </div>
  <div class="col-xs-12 products-container">
    <% current_user.products.each do |product| %>
      <div class="product-wrapper">
        <div class="product-image">

          <%= image_tag product.image %>
        </div>
        <div class="product-description-wrapper">
          <h3><%= product.title %></h3>
          <h4> Price: <%= product.start_price %> </h4>
          <% if product.accept_offers %>
            <%= link_to user_product_toggle_accept_offer_path(current_user.id, product.id), :class => "btn btn-success btn-md", "data-toggle" => "modal", method: :put do %>Available for offers<% end %>
          <% else %>
            <%= link_to user_product_toggle_accept_offer_path(current_user.id, product.id), :class => "btn btn-danger btn-md", "data-toggle" => "modal", method: :put do %>Unavailable for offers<% end %>
          <%end%>
          <% if product.product_negotiations.first != nil && product.product_negotiations.first.single_bids.first != nil %>
          <%= link_to 'Current Offers', productnegotiation_path(product.product_negotiations.first.id), :class => "btn btn-success btn-md" %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
