

<div class="row">
  <div class="col-xs-12" "products-container">
    <h1> Welcome: <%= current_user.first_name %></h1>
    <hr>
    <h2> These are your products for sale: </h2>
  </div>
  <div class="col-xs-12 products-container">
    <% current_user.products.each do |product| %>
      <div class="product-wrapper">
        <div class="product-image">

          <%= image_tag product.image %>
        </div>
        <div class="product-description-wrapper">
          <h3><%= product.title %></h3>
          <h4> Price: <%= product.start_price %> </h4>
          <div class="pull-right"><h4><%= link_to product_path(product.id), method: :update do %><%= product.accept_offers %><% end %></h4></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
