<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Product verkoop</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8">
            <div class="product-show-top">

              <h4><%= @prod_neg.product.title %></h4>
              <h5><%= @prod_neg.product.product_type %></h5>
            </div>
            <div class="product-show-top">
              <h6>MAAT: <%= @prod_neg.product.size %></h6>
              <h6>OMSCHRIJVING:</h6>
              <p><%= @prod_neg.product.description %></p>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <h3> Verkocht voor: €<%= @current_negotiation_bids.last.price %></h3>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="product-image">
              <%= image_tag @prod_neg.product.image %>
            </div>
          </div
      </div>
      <div class="modal-footer">
        <%= link_to "Finalize", product_path(@prod_neg.product.id, sold: true), class: "btn btn-success btn-md", method: :patch %>
      </div>
    </div>
  </div>
</div>
