<div class="panel panel-primary">
  <div class="panel-heading">NEGOTIATION AREA</div>

  <div class="panel-body">
    test 2
    <h2><%= @product_negotiation.product.title %></h2>
    <%= image_tag @product_negotiation.product.image %>
    <h4>Starting price: € <%= @product_negotiation.product.start_price %>,00</h4>
    <p>Negotiation state: <%= @product_negotiation.active == true ? "Active" : "Inactive" %></p>

    <h2>Offers and Counter offers</h2>
    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th></th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- <% @product_negotiation.single_bids.each do |bid| %>
          <% if bid != nil %>
            <% user_id = bid.user_id %>
            <% user = @users.select{|user| user[:id] == user_id} %>
            <tr>
              <td><%= bid.created_at %></td>
              <td><%= user.first_name %> sent offer</td>
              <td>€ <%= bid.price %></td>
            </tr>
        <% end %> -->
      </tbody>
    </table>

  </div>

</div>
