<div class="row bottom-spacer">
  <div class="col-xs-8">
    <div class="product-show-top">
      <h2 class="bottom-spacer">NEGOTIATIONS with <%= @seller.first_name %> and <%= @buyer.first_name %></h2>
      <h4><%= @prod_neg.product.title %></h4>
      <h5><%= @prod_neg.product.product_type %></h5>
    </div>
    <div class="product-show-top">
      <h6>MAAT: <%= @prod_neg.product.size %></h6>
      <h6>OMSCHRIJVING:</h6>
      <p><%= @prod_neg.product.description %></p>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4><del>€<%= @prod_neg.product.original_price %></del></h4>
      </div>
      <div class="col-xs-2">
        <h4>€<%= @prod_neg.product.start_price %></h4>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="product-image">
      <%= image_tag @prod_neg.product.image %>
    </div>
  </div>
</div>
<% if @current_negotiation_bids.length != 0 %>
  <% time_remaining = (@end_time - Time.now).to_i %>
<% else %>
  <% time_remaining = 1 %>
<% end %>
<% if !!!@prod_neg.active || time_remaining <= 0 %>
 <h3>This negotiation is closed</h3>
<% else %>
  <div class="row current-bid bottom-spacer">
    <% if @current_negotiation_bids.length != 0 %>
      <div class="col-xs-3">
        <div>
          <h3>Last Offer: €<%= @current_negotiation_bids.last.price %></h3>
          <h5>Time remaining: <%= time_remaining/3600 %>hr : <%= time_remaining / 60 % 60 %>min : <%= time_remaining % 60 %>sec</h5>
          </div>
      </div>

      <div class="col-xs-1">
        <% if current_user == @prod_neg.product.user %>
          <% if @current_negotiation_bids.last.accepted == true %>
            <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">
              Finalize
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-2">
        <%= link_to "Cancel Negotiation", prod_neg_path(@prod_neg.id), class: "btn btn-danger btn-md", method: :patch %>
      </div>
      <% if current_user.id != @current_negotiation_bids.last.user_id %>
        <div class="col-xs-1">
            <%= link_to "Accept", prod_neg_single_bid_path(@current_negotiation_bids.last.id, accepted: true), class: "btn btn-success btn-md", method: :patch %>
        </div>
        <% if !!!@current_negotiation_bids.last.accepted %>
          <%= form_tag prod_neg_single_bids_path(@prod_neg.id) do %>
            <div class="col-xs-2">
              <%= number_field_tag :price, 'quantity' %>
            </div>
            <div class="col-xs-2">
              <%= submit_tag "Counter Offer", class: "btn btn-danger btn-md" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h4>There are no bids yet</h4>
      <%= form_tag prod_neg_single_bids_path(@prod_neg.id) do %>
      <%= number_field_tag :price, 'quantity' %>
      <%= submit_tag "Make Offer", class: "btn btn-danger btn-md" %>
      <% end %>
    <% end %>
  </div>
  <% @current_negotiation_bids.each do |bid| %>
    <div class="row">
      <% if bid.user_id == current_user.id %>
        <div class="col-xs-1" style="text-align: center;">
          <img src="https://thenextcloset.com/assets/icons/default_user/thumb_default_profile-54c8835634e5e5f1a5f71d7c8c18a9fb.png">
          <% if current_user.id == @seller.id %><%= @seller.first_name %><% else %><%= @buyer.first_name %><% end %>
        </div>
        <div class="col-xs-8">
          <div class="callouts">
            <div class="callouts--left">
              <div class="row">
                <div class="col-xs-2">&nbsp;</div>
                <div class="col-xs-4">
                  <h3>€ <%= bid.price %></h3>
                </div>
                <div class="col-xs-3">&nbsp;</div>
                <div class="col-xs-3">
                  <sup><%= bid.created_at %></sup>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3">&nbsp;</div>
      <% else %>
        <div class="col-xs-3">&nbsp;</div>
        <div class="col-xs-8">
          <div class="callouts">
            <div class="callouts--right">
              <div class="row">
                <div class="col-xs-3">
                  <sup><%= bid.created_at %></sup>
                </div>
                <div class="col-xs-6">&nbsp;</div>
                <div class="col-xs-3">
                  <h3>€ <%= bid.price %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1" style="text-align: center;">
          <img src="https://thenextcloset.com/assets/icons/default_user/thumb_default_profile-54c8835634e5e5f1a5f71d7c8c18a9fb.png">
          <% if current_user.id == @seller.id %><%= @buyer.first_name %><% else %><%= @seller.first_name %><% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>


<%= render '/shared/modal' unless @current_negotiation_bids.last == nil %>
