
<div class="row">
  <div class="col-xs-12" class="products-container">
      <h1><%= @product.title %></h1>
      <div class="product-wrapper">
        <div class="product-image">
          <%= image_tag @product.image %>
        </div>
        <div class="product-description">
          <h2>price: <%= @product.start_price %></h2>
          <h4>size: <%= @product.size %></h4>
          <p>description: <%= @product.description %></p>
          <%= link_to "Place Bid", "#myModal", :class => "btn btn-primary btn-lg", "data-toggle" => "modal" %>
            <!-- new_product_product_negotiation_path -->
            <%= render '/shared/modal' %>
        </div>


      </div>
  </div>
</div>
